<!-- ========== TOP MENU ========== -->
<div class="topbar">
  <div class="container">
    <div class="welcome-mssg">Tarihi Kumbaba Otele Hoş Geldin.</div>
    <div class="top-right-menu">
      <ul class="top-menu">
        <li class="d-none d-md-inline">
          <a href="tel:+18881234567">
            <i class="fa fa-phone"></i>+0 000 000 0000
          </a>
        </li>
        <li class="d-none d-md-inline">
          <a href="mailto:contact@hotelhimara.com">
            <i class="fa fa-envelope-o"></i>contact@kumbaba.com</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
